# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Rdata
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# files produced by TinyTeX during rendering for PDF
.aux
.log
.tex
.toc

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# quarto book project output directory
_book

# shapefile directory (shapefiles are typically too large in file size to be tracked efficiently with Git)
data/shapefiles

# weather data directory (raster files with weather data are too large in file size to be tracked efficiently with Git)
data/weather

# temporary data directory (only for saving .RData files for usage across different chapters)
data/temp

# Cache folder for Quarto project renderings
.quarto
/.quarto/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# APFS-specific config file/folder
.DS_Store
